<div class="card">
    <div class="card-header">
      {{pageHeading}}
    </div>

    <div class="card-body">
        <div class="container-fluid">
          <div class="text-center">
            <p>Sterling Tackle was founded in 2006 by Steve and his eldest son, Sterling. With a love for fishing and a heart for business, the two decided to put what they knew best into practice: catching big fish. The company has since grown and is one of the best offshore fishing supplies on the East Coast. </p>
          </div>
    
          <div class="text-center">Call us today:</div>
          <div class="text-center">
            <h3>(609)555-FISH</h3>
          </div>
    
          <div class="text-center">Instagram: @sterlingtackle</div>
          <div class="text-center">
            <a href="http://www.facebook.com/sterlingtackle">Facebook</a>
          </div>
        </div>
      </div>
    </div>
