<div style="text-align:center">
  <h1>
    Welcome to {{pageTitle}}!
  </h1>
  <img width="200" alt="Angular Logo" src="https://static.wixstatic.com/media/50bf56_0d6de49f78074577ba7839d5da14f0fb.jpg/v1/fill/w_498,h_353,al_c,q_90/file.jpg">
</div>
<div style= "text-align:center">
<h2>The links below are unrelated to Sterling Tackle </h2>

<ol>
  <li>
    <h2><a target="_blank" href="https://www.nfl.com">NFL.com</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://www.nba.com">Basketball</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://www.serebii.net">Pokemon</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://www.sterlingtackle.com/">Sterling Home</a></h2>

  </li>
</ol>
<form>
    <p>Username: <input type="text" name="username" /><br /></p>
   <p>Password: <input type="password" name="password" /></p>
 </form>
</div>

<input type="submit" value="Continue"/>

<div class="section">
    <h1><span>My Media</span></h1>
    <iframe height="150" width="300" src="https://www.youtube.com/watch?v=JUifHUhbv_w" allowfullscreen frameborder="0"></iframe>
          </div>

<router-outlet></router-outlet>
