<div class="card">
        <div class="card-header">
          {{pageHeading}}
        </div>
        <div class="card-body">
          <div class="container-fluid">
            <div class="text-center">
              <img src="./assets/images/bwsuperjet.jpg"
                   class="img-responsive center-block"
                   style="max-height:300px;padding-bottom:50px" />
            </div>
      
            <div class="text-center">Developed by:</div>
            <div class="text-center">
              <h3>Jack Daniel Mentzer</h3>
            </div>
      
            <div class="text-center">@johncaaandy on GitHub</div>
            <div class="text-center">
              <a href="http://www.sterlingtackle.com">Sterling Tackle Webpage</a>
            </div>
          </div>
        </div>
      </div>
  